.story {
  width: 75%;
  background-color: rgba($color-white, 0.6);
  box-shadow: 0 3rem 6rem rgba($color-black, 0.15);
  color: $color-black;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);
  margin: 8rem auto;
  backface-visibility: hidden;
  @include response(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }
  @include response(phone) {
    transform: skewX(0);
  }
  @include clearfix;

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    @include response(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }
  &__img {
    height: 100%;
    // background-size: cover;
    transform: translateX(-4rem) scale(1.2);
    backface-visibility: hidden;
    transition: all 0.5s;
  }
  &__text {
    transform: skewX(12deg);
    @include response(phone) {
      transform: skewX(0);
    }
    backface-visibility: hidden;
  }
  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}
