*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; /* (10/16) = 0.625 */

  @include response(big-desktop) {
    font-size: 75%; // 1 rem = 12px , 12/16 = 75%
  }
  @include response(tab-land) {
    //width < 1200px
    font-size: 56.25%; // 1 rem = 9px , 9/16 = 50%
  }
  @include response(tab-port) {
    //width < 900px
    font-size: 50%; // 1 rem = 8px , 8/16 = 50%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  @include response(tab-port) {
    padding: 0;
  }
}
::selection {
  background-color: $color-primary;
  color: $color-white;
}
